.idea
.cache*
*.class
*.log
.DS_Store

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
/bin/
/.cache-main
/.cache-tests
/.settings/
out/
piflow-core/piflow-core.iml
piflow-core/spark-warehouse/
piflow-core/src/main/scala/cn/piflow/processor/ml/
piflow-project.iml
piflow-shell/piflow-shell.iml
piflow-shell/spark-warehouse/
piflow-webui/piflow-webui.iml
spark-warehouse/
/piflow-core/.idea/
/.idea/
